<!DOCTYPE html>
<html>
  <head>
    <title>WhereDoWeEat</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'welcome' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/110d7c3898.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
</html>